RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-zA-Z0-9_-]+)/?$ profile.php?username=$1 [QSA,L]


# RewriteEngine On: Увімкне модуль mod_rewrite для обробки правил перезапису.

# RewriteCond %{REQUEST_FILENAME} !-f: Умова, яка перевіряє, що запитуваний файл не існує (!-f). 
# Це означає, що правило перезапису буде застосовуватися тільки до URL-ам, які не відповідають реальним файлам.

# RewriteRule ^([a-zA-Z0-9_-]+)$ profile.php?username=$1 [QSA,L]: Правило перезапису. 
# Воно приймає URL-шлях, що складається з букв (у верхньому і нижньому регістрі), цифр, підкреслень і тире. 
# Цей URL-шлях буде передано в profile.php як параметр username. 
# QSA додає до запиту будь-які наявні параметри, а L вказує, що це останнє правило, і подальші правила застосовуватися не будуть.